{% extends "base.html" %}

{% block content %}


{% for game in games %}
<div class="modal fade" id="teams-list-modal-{{ game.id }}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel{{ game.id }}" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel{{ game.id }}">Registered teams</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% with teams=game.gameregistration_set.all %}

        {% if teams %}
        <table class="table">
            <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">Team</th>
            <th scope="col">Number of participants</th>
            <th scope="col">Contact person</th>
            <th scope="col">email</th>
            <th scope="col">Phone number</th>
          </tr>
        </thead>
        <tbody>
            {% for i in teams %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{i.team.name}}</td>
            <td>{{i.number_of_participants}}</td>
            <td>{{i.contact_person}}</td>
            <td>{{i.email}}</td>
            <td>{{i.phone_number}}</td>
          </tr>
            {% endfor %}
        </tbody>

        </table>
        {% else %}
        <h1 class="text-center pt-2">Nobody has registered yet</h1>
        {% endif %}

        {% endwith %}
      </div>

      </div>
    </div>
  </div>
</div>
{% endfor %}



<main class="container">
  {% if games %}
  <h2 class="text-center pt-2">Your events:</h2>
  <h1 class="text-center pt-2"></h1>
  {% endif %}
  <div class="row mb-2">
    {% for game in games %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{game.quiz.city}}</strong>
          <h3 class="mb-0">{{game.quiz.name}}</h3>
          <div class="mb-1 text-body-secondary">{{game.date_of_event}}</div>
          <p class="card-text mb-auto">{{game.place}}</p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#teams-list-modal-{{ game.id }}">Registered teams</button>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="{{ game.quiz.logo.url }}" width="100%" height="250px">

        </div>
      </div>
    </div>
    {% empty %}
    <div>
      <h1 class="text-center pt-2">Ooops... Nothing has been found =(<br> Try changing your search parameters</h1>
    {% endfor %}
  </div>

</main>

{% endblock %}
