{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<style>
    .create-form{
      align-self: center;
      align-items: center;

    }

    .add-new-quiz {
      width: 200px;
      padding:10px 10px;
      float: none;
      margin: 10px 70px 10px;
      br: solid;
      border-color: #FFFFFF;
    }

</style>
</head>

<body>



{% block header %}
<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'quiz-index' %}" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="{% url 'quizowners-index' %}" class="nav-link px-2 link-body-emphasis">For quiz owners</a></li>
          <li><a href="{% url 'upcomingevents-index' %}" class="nav-link px-2 link-body-emphasis">Upcoming events</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-2 p-0 mb-lg-0" method="get" action="{% url 'quiz-search'%}">
          <div class="d-flex">
            <div class="p-2 flex-grow-1">
              <input type="search" name="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </div>
            <div class="p-2">
              <button type="submit" class="btn btn-outline-dark">Search</button>
            </div>
          </div>
        </form>

        {% if user.is_authenticated %}
        <div>
            <span class="px-4">Hello, {{user.username}}!</span><a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
        </div>
        {% endif %}
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}{% endblock %}
</body>
</html>
